.container__detail-father{
    padding: 30px;
}
.container__detail-card{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 20px;
    margin-top: 9px;
}
.container__info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.container__info-services{
    color: #414141;
    font-weight: 500;
    font-size: 16px;
}
.title__info-services{
    color: #043b7f;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
}
.box-email li{
    margin-left: 15px;
}
.container__img-logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.image-logo{
    width: 200px;
    border-radius: 12px;
    border: 2px solid #C51731;
}
.title-company{
    color: #C51731;
    text-align: center;
    font-weight: 700;
    font-size:32px;
    padding-bottom: 8px;
    border-bottom: 2px solid #C51731;
}
.container__btn{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    padding: 10px 0;
}
.btn{
    border: 0;
    padding: 8px 10px;
    border-radius: 8px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    width: 30%;
}
.contact-btn{
    background-color: #043b7f;
}
.web-btn{
    background-color: #C51731;
}
.web-btn:hover, .contact-btn:hover{
    background-color: rgb(231, 132, 132);
    color: #000;
}
.container__redes{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.container__redes li{
    list-style-type: none;
}
.icons-red{
    width: 40px;
    height: 40px;
    color: #043b7f;
}
.icons-you:hover{
    color: #ff0000;
    border: 2px solid #ff0000;
}
.icons-face:hover{
    color: #0000ff;
    border: 2px solid #0000ff;
}
.icons-insta:hover{
    color: #de23a3;
    border: 2px solid #de23a3;
}
.icons-x:hover{
    color: #000;
    border: 2px solid #000;
}
.icons-link:hover{
    color: #0d0dbb;
    border: 2px solid #0d0dbb;
}
.video-iframe{
    width: 560px;
    height: 315px;
}
.image-logo-title{
    display: none;
}
@media screen and (max-width:1023px) {
    .container__detail-card{
        flex-direction: column-reverse;
    }
    .container__info{
        flex-direction: column;
    }
    .container__img-logo{
        flex-direction: row;
    }
    .container__video{
        display: flex;
        justify-content: center;
    }
    .video-iframe{
        width: 80%;
        height: 315px;
    }
    .image-logo-title{
        display: flex;
        width: 130px;
        border-radius: 12px;
        border: 2px solid #C51731;
    }
    .image-logo{
        display: none;
    }
    .container__title-company{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .title-company{
        border-bottom: none;
        font-size: 24px;
    }
    .icons-red:hover{
        color: #043b7f;
        border-color: transparent;
    }
}
@media screen and (max-width:767px) {
    .container__detail-father{
        padding: 30px 10px;
    }
    .title-company{
        font-size: 18px;
        border-bottom: 2px solid #C51731;
    }
    .container__detail-card{
        flex-direction: column-reverse;
    }
    .container__info{
        flex-direction: column;
    }
    .container__img-logo{
        flex-direction: row;
    }
    .video-iframe{
        width: 100%;
        height: 250px;
    }
    .container__btn{
        gap: 10px;
    }
    .btn{
        width: 50%;
    }
    .icons-red{
        width: 30px;
        height: 30px;
    }
    .container__redes{
        gap: 10px;
    }
    .image-logo-title{
        width: 100px;
    }
}