footer{
    background-color: #3164c2;
}

.flex-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h3-footer{
    font-size: x-large;
    text-decoration: underline;
    margin-bottom: 10px;
}

.menu-redes{
    display: flex;
    list-style: none;
    gap: 50px;
}

.redes{
    font-size: medium;
}

.flex-derecha{
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}