.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f5f5f5;
    justify-content:space-around;
    padding: 15px;
    position: relative;
    box-shadow:0 0 2px 6px  #c5c5c5;
}

.logo-nav {
    height: 45px;
}

.menu-burger > img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
}

.menu-nav {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 60px;
    font-size: 18px;
    transition: all 0.4s;
    background-color: #f5f5f5;
}

.menu-nav a {
    text-decoration: none;
    color: #3164c2;
    text-transform: uppercase;
    font-weight: 700;
    padding-bottom: 2px;
}

.menu-nav a.active {
    border-bottom: 3px solid #3164c2;
}

.menu-nav a:hover {
    border-bottom: 3px solid #3164c2;
}

@media screen and (max-width: 767px) {
    .menu-burger {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        width: 100%;
    }

    .menu-nav {
        flex-direction: column;
        gap: 15px;
        align-items: center;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        height: 200px;
        z-index: 100;
    }

    .menu-burger > img {
        display: inline-block;
    }
}

.nav-visible {
    left: -100vw;
}
