.container-search {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.container-search > a {
    flex: 1;
    background-color: rgb(190, 190, 190);
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.container-search > a.active {
    background-color: #043b7f;
    color: white;
}

.container-companies {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 500px;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .container-companies {
        grid-template-columns: 1fr;
    }
}
